<!DOCTYPE html>
<html>
    <head>
        <!-- Title is the name of the tab -->
        <title> Chris' Blog</title>
    </head>

    <header>
            <h1><a href="/"> My Django Girls Blog Project</a></hr1>
               
        </header>
    <body>
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href=""> {{ post.title }}</a></h2>
                <p> {{ post.text|linebreaksbr }}</p>
                 <!-- This line breaker is basically \n -->
            </article>
        {% endfor %}
      
    </body>
</html>



<!-- <header>
            <h1><a href="/"> My Django Girls Blog Project</a></hr1>
               
        </header>
         {{ posts }} 

        <article>
            <time> published: 12/15/2025 </time>
            <h2><a href=""> My First Post 8:40 </a></h2>
            <p> Test post </p>
            
        </article>

        <article>
            <time> published: 14/15/2025 8:41</time>
            <h2><a href=""> My Second post </a></h2>
            <p> Test post 2 </p>
        </article>
        <a href="https://github.com/MagnusLightwod"> github</a>  -->
