<!DOCTYPE html>
<html>
    <head>
        <!-- Title is the name of the tab -->
        <title> Chris' Blog</title>
    </head>
    <body>
       
        <header>
            <h1><a href="/"> My Django Girls Blog Project</a></hr1>
        </header>

        <article>
            <time> published: 12/15/2025 </time>
            <h2><a href=""> My First Post 8:40 </a></h2>
            <p> Test post </p>
            
        </article>

        <article>
            <time> published: 14/15/2025 8:41</time>
            <h2><a href=""> My Second post </a></h2>
            <p> Test post 2 </p>
        </article>
        <!-- <a href="https://github.com/MagnusLightwod"> github</a> -->
    </body>
</html>